*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container .row .jumbotron{
  background: rgb(0, 0, 0);
  background: linear-gradient(82deg, rgba(0, 0, 0, 1) 0%, rgba(20, 11, 94, 1) 90%);
  color: white;
}

.corNavbar {
  background: rgb(0,0,0);
  background: linear-gradient(82deg, rgba(0,0,0,1) 0%, rgba(20,11,94,1) 90%);
  }

  .botaodelogin {
    background-color: #FFC107 !important; /* Amarelo */
    color: #333;
    width: 100px;
  }


  .container-bg {
    background: rgb(0, 0, 0);
    background: linear-gradient(82deg, rgba(0, 0, 0, 1) 0%, rgba(20, 11, 94, 1) 90%);
    color: white;
    padding: 60px 0;
  }

  .collapse li a {
    font-size: 20px;
  }

  .col-md-3,
  .col-md-9 {
    background-color:#e1c32e;
    padding: 20px;
   
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .btn-primary {
    background: rgb(0, 0, 0);
    background: linear-gradient(82deg, rgba(0, 0, 0, 1) 0%, rgba(20, 11, 94, 1) 90%);
    color: white;
  }


  .footer {
    padding: 20px 0;
    text-align: center;
  }

  .form-box{
    width: 50%;
    margin: auto;
    color: white;
  }


  .display-5 > span {
    color: #FFC107;
  }
 
  